/* all */
*{
    font-family: 'IBM Plex Sans', serif;
}

/* top stuff */
.head{
    padding-top: 20px;
    width: 70%;
    margin: auto;
}
button{
    border: 3px solid #F433AB;
    background-color: white;
    float: right;
    height: 40px;
    font-size: 20px;
    width: 200px;
    margin: 0px 10px;
}
input{
    border: 3px solid #F433AB;
    width: 400px;
    height: 30px;
    font-size: 20px;
}

/* table */
.tableHolder{
    padding-top: 40px;
    display: block;
    margin: auto;
    width: 80%;
}
table{
    width: 100%;
    border-spacing: 0px;
}
td{
    border-bottom : 1px solid grey;
    padding: 10px;
    font-size: 20px;
    border-collapse:separate;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    border-bottom: 2px solid #F433AB;
    color: #F433AB;
    transition: 0.3s;
}
