/* all */
*{
    font-family: 'IBM Plex Sans', serif;
}

/* dark mode */
.lightmode{
    color: black;
    background-color: white;
    transition: 0.3s;
}

body{
    background-color: #363942;
    color: white;
}

/* top stuff */
.title{
    float: right;
}
.head{
    padding-top: 20px;
    width: 70%;
    margin: auto;
}
#sort-button{
    border: 3px solid #F433AB;
    background-color: #F433AB;
    border-radius: 5px;
    float: right;
    height: 40px;
    font-size: 20px;
    width: 200px;
    margin: 0px 10px;
}
.dark-button{
    border: 3px solid #F433AB;
    background-color: #F433AB;
    border-radius: 5px;
    float: right;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0px 10px;
}
input{
    width: 400px;
    height: 30px;
    font-size: 20px;
}
img{
    width: 100%;
    height: 100%;
}

/* table */
.tableHolder{
    padding-top: 40px;
    display: block;
    margin: auto;
    width: 80%;
}
table{
    width: 100%;
    border-spacing: 0px;
}
td{
    border-bottom : 1px solid grey;
    padding: 10px;
    font-size: 20px;
    border-collapse:separate;
}
table a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
a:hover{
    border-bottom: 2px solid #F433AB;
    color: #F433AB;
    transition: 0.3s;
}